body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    align-items: center;
   
}

.certificate-container {
    width: 100%;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.logo-section {
    text-align: left;
    margin-right: 50px;
}
.logo {
    width: 150px;
    height: auto;
   

}

.university-info {
    text-align: center;
    margin-right: 90px;

    
}

.university-info h1 {
    margin: 0;
    font-size: 24px;
}

.university-info p {
    margin: 10px;
    text-align: center;
    font-size: 16px;
}

.certificate-title {
    margin-top: 30px;
    text-align: center;
}

.certificate-title h2 {
    letter-spacing: 15px;
    font-size: 24px;
    font-weight: 800;
    
}

.registration-number {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 150px;
}

.label {
    font-weight: bold;
    font-size: 16px;
}

.number {
    font-size: 16px;
    color: #8B0000; 
    font-weight: bold;
    margin-left: 5px; 
}

.info-table {
    width: 90%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #b12727;
    margin: 0;
    margin-left: 90px;
   
}

.info-table th {
    background-color: #cbccf5;
    border: 1px solid black;
    font-size: 18px;
    text-align: center;
    padding: 10px;
}

.info-table td {
    padding: 8px;
    border: 0px solid #ddd;
    font-size: 14px;
}

.info-table tr td:first-child {
    font-weight: bold;
}

.info-table{
    background-color: #ffffff;
    border-collapse: collapse;
}


.schedule-table {
    width: 90%;
    border-collapse: collapse;
    margin:  0;
    margin-left: 90px;
    font-size: 14px;
}

.schedule-table th, .schedule-table td {
    border: 0px solid rgb(249, 249, 249);
    padding: 8px;
    text-align: left;
}

.schedule-table th {
    background-color: #cbccf5;
    font-weight: bold;
    text-align: center;
    
}

.sub-header th {
    font-weight: normal;
    font-size: 12px;
    text-align: center;
}

.schedule-table td {
    vertical-align: top;
}

.schedule-table tr.total td {
    text-align: center;
    background-color: #ffffff;
    font-weight: bold;
}
.schedule-table td:nth-child(8) {
    text-decoration: underline;
    text-align: center;
}

.schedule-table td:nth-child(1),
.schedule-table td:nth-child(2),
.schedule-table td:nth-child(3),
.schedule-table td:nth-child(4),
.schedule-table td:nth-child(5),
.schedule-table td:nth-child(6),
.schedule-table td:nth-child(7) {
    text-align: center;
}
