body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 10;
    align-items: center;

   
}

.certificate-container {
    width: 100%;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.logo-section {
    text-align: left;
    margin-right: 50px;
}
.logo {
    width: 150px;
    height: auto;
   

}

.university-info {
    text-align: center;
    margin-right: 90px;

    
}

.university-info h1 {
    margin: 0;
    font-size: 24px;
}

.university-info p {
    margin: 10px;
    text-align: center;
    font-size: 16px;
}

.certificate-title {
    margin-top: 30px;
    text-align: center;
}

.certificate-title h2 {
    letter-spacing: 15px;
    font-size: 24px;
    font-weight: 800;
    
}

.registration-number {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 150px;
}

.label {
    font-weight: bold;
    font-size: 16px;
}

.number {
    font-size: 16px;
    color: #8B0000; 
    font-weight: bold;
    margin-left: 5px; 
}

.info-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #b12727;
    
    
   
}

.info-table th {
    background-color: #cbccf5;
    border: 1px solid black;
    font-size: 20px;
    text-align: center;
    padding: 10px;
}

.info-table td {
    padding: 8px;
    border: 0px solid #ddd;
    font-size: 20px;
}

.info-table tr td:first-child {
    font-weight: bold;
}

.info-table{
    background-color: #ffffff;
    border-collapse: collapse;
}


.schedule-table {
    width: 100%;
    border-collapse: collapse;
    margin:  0;
    margin-left: auto;
    font-size: 20px;
}

.schedule-table th, .schedule-table td {
    border: 0px solid rgb(249, 249, 249);
    padding: 8px;
    text-align: left;
}

.schedule-table th {
    background-color: #cbccf5;
    font-weight: bold;
    text-align: center;
    
}

.sub-header th {
    font-weight: normal;
    font-size: 12px;
    text-align: center;
}

.schedule-table td {
    vertical-align: top;
}

.schedule-table tr.total td {
    text-align: center;
    background-color: #ffffff;
    font-weight: bold;
}
.schedule-table td:nth-child(8) {
    text-decoration: underline;
    text-align: center;
}

.schedule-table td:nth-child(1),
.schedule-table td:nth-child(2),
.schedule-table td:nth-child(3),
.schedule-table td:nth-child(4),
.schedule-table td:nth-child(5),
.schedule-table td:nth-child(6),
.schedule-table td:nth-child(7) {
    text-align: center;
}

.note {
    text-align: left;
    margin-left: 105px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.fees-table, .scheds {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
  
}
.fees-table tr.total{
    border: 1px solid black;
    text-align: center
}
.scheds td, .scheds th {
  border: 1px solid black;
  padding: 8px;
}
.fees-table th, .scheds th {
  background-color: #cbccf5;
}
.refund ol {
  padding-left: 20px;
}
.refund, .payment{
    margin-right: 150px;
    border-collapse: collapse;
    font-size: 20px;
    
}
.right-side ol li{
    text-decoration: none;
    font-style: italic;
    font-weight: 100;
    font-size: 20px;
    color: rgb(92, 94, 94);
    font-family: "Courier New", Courier, monospace;    
}

.right-side ol{
    margin-bottom: 60px;
}

.refund h3{
    text-align: center;
}

.payment{
    margin-top: 170px;
}

.Approved{
    font-size: 20px;
    margin-top: 150px;
    margin-bottom: 100px;
}

footer{
    text-align: center;
    border: 1px solid black;
    font-size: 20px;
    margin-left: 90px;
    margin-right: 90px;
    margin-bottom: 20px;
    background-color:rgb(203, 204, 245);
}

.whole-details{
    border: 2px solid black;
    border-collapse: collapse;
    margin-right: 90px;
    margin-left: 90px;
}